/* General Styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
    color:#444;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:0 0 10px;
}

h1 {
    font-size: 1em;
    color:#f9f9f9;
    font-weight: 700;
    margin: 0%;
}

h2 {
    font-size: 2.25em;
    font-weight: 800;
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 10px;
}

header, footer {
    padding: 20px;
    background-color: #222;
    color: #f9f9f9;
    justify-content: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 5px;
    padding: 20px;
}

/* Chart Container Styling */
.chart-container {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: 90%; /* Adjust width as needed (90% of the viewport width) */
    height: 80vh; /* Set height to 80% of the viewport height */
    margin-left: auto; /* Center horizontally */
    margin-right: auto;
}

/* Adjust iframe size for larger plots */
iframe {
    width: 100%; /* Ensure the iframe takes the full width of its container */
    height: 700px; /* Increase height to show entire plot */
    border: none;
    border-radius: 6px;
}
